body{
    font-family: roboto;
}

/* Navbar on mobile screens (collapsed menu) */
#mainNav {
    min-height: 1rem;
    z-index: 10000;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.5rem;
    color: #fffb;
    /* border: 1px solid #fffb; */
}
#mainNav .navbar-toggler:focus {
    outline: none;
}
#mainNav .navbar-brand {
    color: #fffb;
    font-weight: 700;
    padding: 0.25rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
    color: var(--astrax-orange);
    outline: none;
    background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}
@media (max-width: 992px) {
    #mainNav.opaque-bg {
        background-color:  #26004C;
    }
    #mainNav .navbar-nav .nav-item{
        text-align: center;
        font-size: 1.5rem;
    }
    #mainNav a.nav-link {
        color: #fffb;
    }
    #navbarResponsive {
        padding: 1em 0em 1.5em 1em;
    }
}
@media(min-width:767px){
    .m a{
        line-height:2.5em;
    }
}
/* Navbar on desktop screens */
@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: 0.5rem 0;
        color: #fffb;
    }
    #mainNav .nav-link {
        transition: none;
        padding: 0.5rem 0.9rem;
        color: #fffb !important;
        font-size: 1rem;
    }
    #mainNav .nav-link:hover,
    #mainNav .nav-link:active,
    #mainNav.navbar-shrink .nav-link:hover,
    #mainNav.navbar-shrink .nav-link:active {
        color: #9251FE;
    }
    #mainNav.navbar-shrink {
        background-color:  #26004C;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #fffb;
    }
    #mainNav.navbar-shrink .nav-link {
        color: #fffb;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #9251FE;
        outline: none;
        border-bottom: 0.25rem solid #9251FE;
    }
}
.register{
    background-color: #7714DA;
}

/* Changing color of navbar on scrolling */
.nav-scrolled {
    /* Color can be modified as per theme */
    background-color: #26004C !important;
    transition: background-color 200ms ease-in;
}


.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, #0004 0%, #0008 80%, #000a 100%),
        url("../images/backgrounds/main.jpg");
        
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}



.footer {
    padding-top: 3.5rem;
    /* margin-bottom: -50px; */
    margin-top: 0px;
}

footer {
    /* background-color: rgb(3, 8, 53); */
    background-color: #26004C;
    /* margin-bottom: -20px; */
    /* margin-top: 500px; */
}
footer a,
footer p {
    color:#F8F1FF;
    text-decoration: none;
}
footer a:hover {
    color: #7CA0FE;
}
footer .contact,
footer .links-wrap,
footer .social {
    border-bottom: 1px dotted white;
    margin-bottom: 1em;
    flex-grow: 1;
}
footer .contact {
    width: 485px;
}
footer .links-wrap {
    width: 485px;
}
footer .social {
    width: 120px;
}
footer i {
    margin-right: 10px;
}
footer h1 {
    padding: 1.5rem 0;
}
footer .links1,
footer .links2 {
    width: 120px;
}
footer h3 {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-bottom: 1rem;
    color: white; /* var(--astrax-orange); */
}

/* #footer-transition-gradient {
    height: 20px;
    background-color: var(--astrax-dark2);
    background: linear-gradient(0deg, rgba(11,34,50,1) 0%, rgba(255,255,255,0) 100%);
} */


.footer{
    background-color: #200040;
}