
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.about{
    background-color: #26004C;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: -2px;
}

.about  #about .newheading {
    font-size: 3rem;
    margin-bottom: 25px;
    text-align: left;
    /* background: linear-gradient(yellow, */
    background: linear-gradient(#7CA0FE,
    #7CA0FE, #9251FE,#9251FE);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
    }
.about #about .about-content{
    margin: 0px;
    text-align: justify;
    margin-bottom: 10px;
}
.about-content{
    color: #fff;
}
.about #about .btnclass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.about #about .mainbutton{ 
    width: 180px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 3px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #7CA0FE, #9251FE, #7CA0FE, #9251FE);
    /* background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); */
    box-shadow: 0 2px 10px 0 #7CA0FE;
    margin-left: -0px;
    font-family:'Roboto', sans-serif;
}
.about #about .mainbutton:hover{
   /* box-shadow: inset -71px 0 0 0  #9747FE,inset 71px 0 0 0  #9747FE; */
   /* box-shadow: inset 0 0 0 1em #9747FE; */
   background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}
.about #about .mainbutton:focus{
    outline: none;
}
@media screen and (max-width:720px) {
    .about{
        padding-left: 3%;
        padding-right: 3%;
    }
    .about #about .newheading{
        font-size: 2rem;
        text-align: center;
       font-weight: 600;
    }
    .about #about .mainbutton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .about #about .btnclass{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about #about .mainbutton{
        margin-left: 0px;
    }

}

#workshop{
    height: 110vh;
    background-image:url('../images/workshop_bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    color:#fff;
    font-family:'Roboto', sans-serif;
}
.containerworkshop{
    overflow: hidden;
}
#workshop #right{
    height:380px;
background-image:url('../images/rightastro2.png') ;
background-repeat: no-repeat;
    background-size: cover;
    animation: mymove 3s infinite;
    animation-timing-function: ease-in-out;
}

#workshop #left{
    height:650px;
    background-image: url("../images//leftastro4.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: mymove 5s infinite;
    animation-timing-function: ease-in-out;
    /* margin-bottom: 500px; */
    padding-bottom: 500px;
}
@keyframes mymove{
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
#downrow{
    margin-bottom: 500px;
    padding-bottom: 500px;
}
.containerworkshop #workshop #upleft .mainbutton{
    width: 180px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /* margin: 20px; */
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 3px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #7CA0FE, #9251FE, #7CA0FE, #9251FE);
    /* background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); */
    box-shadow: 0 2px 10px 0 #7CA0FE;
    font-family:'Roboto', sans-serif;
}
.containerworkshop #workshop #upleft .mainbutton:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.containerworkshop #workshop .headingleft{
    font-size: 3rem;
    /* text-align: left; */
    /* background: linear-gradient(yellow, */
    background: linear-gradient(#7CA0FE,
    #7CA0FE, #9251FE,#9251FE);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     font-weight: 800;
    }
.containworkshop{
    font-weight: 500;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family:'Roboto', sans-serif;
}
.containerworkshop #workshop #upleft{
    padding-left: 10%;
}

.containerworkshop #workshop #downright .mainbutton{
    width: 180px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /* margin: 20px; */
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 3px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #7CA0FE, #9251FE, #7CA0FE, #9251FE);
    /* background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); */
    box-shadow: 0 2px 10px 0 #7CA0FE;
    font-family:'Roboto', sans-serif;
}
.containerworkshop #workshop #downright .mainbutton:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#downright{
    padding-right: 10%;
}
.containworkshopright{
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: 500;
    text-align: justify;
    font-family:'Roboto', sans-serif;
}

@media screen and (max-width:980px) {
    #workshop{
        height: 120vh;
    }
    #workshop #left{
        height: 300px;
    }
    #workshop #right{
        height: 300px;
    }
}
@media screen and (max-width:840px) {
    #workshop{
        height: 130vh;
    }
    #workshop #left{
        height: 250px;
    }
    #workshop #right{
        height: 200px;
    }
}

@media screen and (max-width:720px) {
    #workshop #left{
        display: none;
    }
    #workshop #right{
        display: none;
    }
    #workshop{
        height: 115vh;
    }
    #upleft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-right: 10%;
        margin-left: 2%;
    }
    #downright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-right: 10%;
        margin-left: 10%;
    }
    .containerworkshop #workshop .headingleft{
        font-size: 2rem;
        text-align: center;
       font-weight: 600;
       margin-top: 25px;
    padding-top: 30px;
       margin-bottom:5px; 
    }
    #workshow #downrow{
        margin-top: 20px;
    }
}
@media screen and (max-width:490px) {
    #workshop{
        height: 124vh;
    }
}
@media screen and (max-width:420px) {
    #workshop{
        height: 130vh;
    }
}
@media screen and (max-width:400px) {
    #workshop{
        height: 135vh;
    }
}
@media screen and (max-width:380px) {
    #workshop{
        height: 140vh;
    }
}
@media screen and (max-width:360px) {
    #workshop{
        height: 145vh;
    }
}