style_default.css

:root {
    --astrax-orange: #f27a0e;
    --astrax-dark: #0b2232;
    --astrax-dark2: #101018;
    --discord-bg: rgb(24,26,28);
}

.text-orange {
    color: var(--astrax-orange) !important;
}

.social-links a {
    margin:10px;
    height:4em;
    width:4em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow:1px 4px 2px 2px #dcdde1;
    border-radius:5em;
    text-decoration: none !important;
    /* color: var(--astrax-dark) !important; */
}
.social-links a i {
    transition:all 0.3s linear;
}
.social-links a i:hover {
    transform:scale(1.2);
}

@media (min-width: 768px) {
    #discord-sidetext {
        max-width: 400px;
        text-align: right !important;
    }
    #discord-embed {
        justify-content: start;
    }
}
@media (max-width: 768px) {
    #discord-embed > iframe {
        margin: auto;
    }
    #discord-embed {
        justify-content: center;
    }
}
@media (max-width: 450px) {
    #discord-embed {
        max-width: 350px;
        overflow-x: scroll;
    }
}


/* Navbar on mobile screens (collapsed menu) */
#mainNav {
    min-height: 1rem;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.5rem;
    color: #fffb;
    border: 1px solid #fffb;
}
#mainNav .navbar-toggler:focus {
    outline: none;
}
#mainNav .navbar-brand {
    color: #fffb;
    font-weight: 700;
    padding: 0.25rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
    color: var(--astrax-orange);
    outline: none;
    background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}
@media (max-width: 992px) {
    #mainNav.opaque-bg {
        background-color: var(--astrax-dark);
    }
    #mainNav a.nav-link {
        color: #fffb;
    }
    #navbarResponsive {
        padding: 1em 0em 1.5em 1em;
    }
}
@media(min-width:767px){
    .m a{
        line-height:2.5em;
    }
}
/* Navbar on desktop screens */
@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: 0.5rem 0;
        color: #fffb;
    }
    #mainNav .nav-link {
        transition: none;
        padding: 1rem 1.5rem;
        color: #fffb !important;
    }
    #mainNav .nav-link:hover,
    #mainNav .nav-link:active,
    #mainNav.navbar-shrink .nav-link:hover,
    #mainNav.navbar-shrink .nav-link:active {
        color: var(--astrax-orange);
    }
    #mainNav.navbar-shrink {
        background-color: var(--astrax-dark);
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #fffb;
    }
    #mainNav.navbar-shrink .nav-link {
        color: #fffb;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: var(--astrax-orange);
        outline: none;
        border-bottom: 0.25rem solid var(--astrax-orange);
    }
}

/* Changing color of navbar on scrolling */
.nav-scrolled {
    /* Color can be modified as per theme */
    background-color: var(--astrax-dark) !important;
    transition: background-color 200ms ease-in;
}


.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, #0004 0%, #0008 80%, #000a 100%),
        url("../images/backgrounds/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* Responsive title size on small/mobile screen */
.masthead h1,
.masthead .h1 {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 1rem;
    color: #fffd;
}
.masthead h2,
.masthead .h2 {
    max-width: 20rem;
    padding-top: 1rem;
    font-size: 1.25rem;
    color: #fffb !important;
}

/* Responsive title size on medium screen */
@media (min-width: 768px) {
    .masthead h1,
    .masthead .h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}
/* Responsive title size on large/desktop screen */
@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1,
    .masthead .h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2,
    .masthead .h2 {
        max-width: 30rem;
        font-size: 2rem;
    }
}

h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    letter-spacing: 0.2rem;
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (min-width:450px) {
    .btn-orange{
        padding: 5px 50px;
    }
}
@media(max-width:450px){
    .btn-orange{
        padding: 5px 2px;
    }
}
.btn-orange {
    background-color: var(--astrax-orange);
    border-color: var(--astrax-orange);
    color: #000;
    /* width:150px;
    height: 40px; */
}
.btn-orange.btn-outline {
    background-color: transparent;
    color: var(--astrax-orange);
}
.btn-orange.btn-outline:hover {
    background-color: var(--astrax-orange);
}
.btn-orange:hover {
    background-color: var(--astrax-dark2);
    border-color: var(--astrax-dark2);
    color: #fff;
    transition: 0.5s;
}

section.page-section {
    padding-top: 4rem;
}
section.page-section p {
    font-size: 1.1rem;
}
section.page-section p:not(.no-mb) {
    margin-bottom: 4rem;
}

#about {
    background: var(--astrax-dark2);
}
#about h2 {
    color: var(--astrax-orange);
}
#about p {
    color: #fffb;
}

.page-section h2 {
    color: var(--astrax-dark);
}

.event-card {
    background-color: var(--astrax-dark);
    overflow: hidden;
    transition: max-height 0.5s, background-color 0.5s;
    max-height: 18rem;
}
.event-card p {
    margin-bottom: 0 !important;
}
.event-card:hover {
    /* background-color: var(--astrax-dark2); */
    max-height: 42rem;
}
.event-card object {
    /* codepen.io/sosuke/pen/Pjoqqp */ /* Changes black into --astrax-orange */
    filter: invert(54%) sepia(65%) saturate(3708%) hue-rotate(1deg)
        brightness(104%) contrast(90%);
    height: 40%;
    max-width: 85%;
}
@media (min-width: 768px) {
    .event-card {
        max-height: 12rem;
    }
    .event-card:hover {
        max-height: 80vh;
    }
    .event-card object {
        height: 60%;
    }
    .event-card .svg-holder {
        min-height: 400px;
    }
}

.footer {
    padding-top: 3.5rem;
    margin-bottom: 0px;
}

footer {
    /* background-color: rgb(3, 8, 53); */
    background-color:var(--astrax-dark);
}
footer a,
footer p {
    color: rgb(218, 214, 255);
    text-decoration: none;
}
footer a:hover {
    color: rgb(130, 129, 243);
}
footer .contact,
footer .links-wrap,
footer .social {
    border-bottom: 1px dotted white;
    margin-bottom: 1em;
    flex-grow: 1;
}
footer .contact {
    width: 485px;
}
footer .links-wrap {
    width: 485px;
}
footer .social {
    width: 120px;
}
footer i {
    margin-right: 10px;
}
footer h1 {
    padding: 1.5rem 0;
}
footer .links1,
footer .links2 {
    width: 120px;
}
footer h3 {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-bottom: 1rem;
    color: white; /* var(--astrax-orange); */
}

/* #footer-transition-gradient {
    height: 20px;
    background-color: var(--astrax-dark2);
    background: linear-gradient(0deg, rgba(11,34,50,1) 0%, rgba(255,255,255,0) 100%);
} */

/* Styling Scroll to Top button Element */

#scroll-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border: 6px solid var(--astrax-dark);
    /* box-shadow: 0px 5px 10px 3px var(--astrax-dark); */
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    color: var(--astrax-dark);
    display: none;
    transition: 0.5s;
}
#scroll-top:hover {
    background-color: #fff;
    /* background-color: var(--astrax-orange); */
    border: 6px solid var(--astrax-orange);
    box-shadow: 0px 3px 10px 3px var(--astrax-orange);
    color: var(--astrax-orange);
    bottom: 20px;
    /* color: white; */
}
#scroll-top:active {
    transform: translateY(3px);
    color: white;
    background-color: var(--astrax-dark);
    border-color: var(--astrax-dark);
    box-shadow: 0px 3px 10px 3px var(--astrax-dark);
}

/* Styling Team Page */

.teamhead {
    background-image: linear-gradient(
            to bottom,
            #0004 0%,
            #0008 80%,
            #000a 100%
        ),
        url("../images/backgrounds/teamBg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 13rem;
    background-size: cover;
    background-attachment: scroll;
}

/* Responsive title size on small/mobile screen */
.meet-team {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    color: #fffd;
    padding-top: 7rem;
    padding-left: 2rem;
}
/* Responsive title size on medium screen */
@media (min-width: 768px) {
    .meet-team {
        font-size: 3rem;
    }
}
/* Responsive title size on large/desktop screen */
@media (min-width: 992px) {
    .meet-team {
        font-size: 3rem;
    }
}

#schedule {
    position: relative;
    overflow-x: hidden;
}
.sched-daytitle {
    /* color: var(--astrax-orange); */
    /* background-color: var(--astrax-dark2); */
    background-color: #ffdaa3;
}

.swc-wrapper-timeline .swpg-progressbar {
    position: relative;
    margin-bottom: 70px;
    background-color: transparent;
    height: 4px;
    border-bottom: 1px solid #000;
    width: 75%;
}
.swc-wrapper-timeline .swpg-progressbar-fill {
    background-color: #000;
    height: 3px;
    top: 2px;
}
.swc-wrapper-timeline .swpg-progressbar:before {
    position: absolute;
    top: 3px;
    left: -120%;
    width: 120%;
    height: 1px;
    background-color: #000;
    content: "";
}
.swc-wrapper-timeline .swpg-progressbar:after {
    position: absolute;
    top: 3px;
    right: -80%;
    width: 80%;
    height: 1px;
    background-color: #000;
    content: "";
}
.swc-wrapper-timeline .swpg-custom {
    position: relative;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: flex;
    line-height: 1.66;
    bottom: 0;
    z-index: 11;
    width: 75%;
    display: flex;
}
.swc-wrapper-timeline .swpg-custom .swpg-switch {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
}
.swc-wrapper-timeline .swpg-custom .swpg-switch .switch-title {
    position: absolute;
    font-weight: 400;
    right: 0;
    transform: translateX(50%);
    transition: 0.2s all ease-in-out;
    transition-delay: 0s;
    cursor: pointer;
    z-index: 1;
    color: black;
    text-decoration: none;
}
.swc-wrapper-timeline .swpg-custom .swpg-switch .switch-title:after {
    position: absolute;
    top: calc(100% + 19px);
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 2rem;
    content: "";
    transition: 0.2s all ease-in-out;
    transition-delay: 0s;
    z-index: 1;
}
.swc-wrapper-timeline .swpg-custom .swpg-switch.active .switch-title {
    font-weight: 400;
    transition-delay: 0.1s;
}
.swc-wrapper-timeline .swpg-custom .swpg-switch.active .switch-title:after {
    background: #000;
    width: 25px;
    height: 25px;
    transition-delay: 0.1s;
}
.swc-wrapper-timeline .swpg-custom .swpg-switch.active ~ .swpg-switch .switch-title {
    color: #888;
    font-weight: 16px;
}
.swc-wrapper-timeline .swpg-custom .swpg-switch.active ~ .swpg-switch .switch-title:after {
    background: #888;
}


/* Designing of team section */
.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-left: 100px;
    margin-right: 100px;
}
.person-detail {
    border-radius: 5%;
    margin: 1.5rem;
    transition: 0.5s;
    /* transition: 0.3s; */
}
.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    padding: 0.1rem;
}
.person-role {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--astrax-dark);
}
.person-name {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: var(--astrax-orange);
}
.person-img {
    border-radius: 50%;
    padding: 20px;
}

.person-detail:hover {
    box-shadow: 8px 8px 7px 3px #946e06;
    /* box-shadow: 8px 8px 7px 3px var(--astrax-dark); */
    transform: translate(-5px, -5px);
    transition: 0.3s;
}

/* school_champition */
#school {
    background-color: #0b2232;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#school i {
    color: #f27a0e;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    background-color: #101018;
    margin-top: -5px;
}

.time {
    font-size: 30px;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
}

.countdown div {
    margin: 2rem 2rem;
    text-align: center;
    border: 2px solid #fff;
    padding: 5px 20px;
    padding-bottom: 10px !important;
    color: #fff;
    min-width: 100px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 2px 20px #fff;
    box-sizing: border-box;
}
.days {
    font-size: 50px;
}

@media (max-width: 992px) {
    .countdown div {
        margin: 1rem 1rem;
        min-height: 80px;
    }
}
/* @media (max-width:767px){
    .countdown div{
        max-width: 30px;
        font-size: 80%;
    } 
} */
@media (max-width: 700px) {
    .countdown {
        border: 2px solid #fff;
        border-radius: 15px;
        box-shadow: 0px 2px 20px #fff;
    }
    .countdown div {
        margin: 10px auto;
        min-width: 80px;
        min-height: 50px;
        font-size: 75%;
        border: none;
        box-shadow: none;
    }
}
.coming {
    padding-bottom: 20px;
    color: #f27a0e;
    text-align: center;
}

/* Styling Keynotes Section  */
.keynote-heading {
    font-size: 2.25rem;
    text-align: center;
    color: var(--astrax-dark);
    margin-bottom: 1rem;
}
.keynote-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.keynote {
    transition: 0.2s;
    width: 400px;
    box-shadow: 0 0 75px -5px rgba(179, 179, 179, 0.5);
    display: flex;
    flex-direction: column;
    padding: 1.25rem 2.5rem;
    background-color: #fff;
    border-radius: 10px;
    margin: 1.5rem;
}
.keynote:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 50px 19px rgba(179, 179, 179, 0.5);
    transition: 0.2s;
}
.key-detail {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.key-detail > img {
    border: 2.5px solid var(--astrax-dark2);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.key-detail > .name {
    color: var(--astrax-orange);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 0.2rem;
    text-align: center;
}
.keynote > .info {
    font-size: 1rem;
    color: var(--astrax-dark2);
    font-weight: 500;
    word-wrap: break-word;
}
/* *******************************************************************************/
.event-details {
    display: none !important;
    height: 0;
    transition: height 5s;
}

.event-card:hover .event-details {
    display: inline !important;
    height: 20px;
}

.event-card > div.col-md-9 {
    min-height: auto;
    transition: min-height 5s;
}

.event-card:hover > div.col-md-9 {
    min-height: 25rem;
}


/* sponsors */

.sponrow{
margin-top:40px;
  margin-bottom: 40px;
}
.sponrow object {
    max-width: 90% !important;
}

span.tslide {
    position: relative;
    /* display: inline-block; */
}

/* schedule */
.darkhr{
    height: 5px !important;
    background-color:rgb(117, 90, 193);
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius:50px ;
       
}
.line{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
}
.trow {
    padding-top: 1em;
    margin-left: 6.5px;
    margin-right: 6.5px;
    align-items: center;
}
.trow p:first-child {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.trow:hover{
    background-color: linen;
    border-radius: 5px;

}


@media (max-width: 450px) {
    .swpg-custom {
        min-height: 3rem;
        padding-top: 1rem;
    }
    a.switch-title {
        transform: translateX(50%) rotateZ(-90deg) !important;
        min-width: 4rem;
    }
    a.switch-title::after {
        transform: translateX(-250%) translateY(-150%) !important;
    }
    .swc-wrapper-timeline .swpg-custom .swpg-switch .switch-title:after {
        top: 100% !important;
        right: calc(100% - 17px) !important;
    }
    .swc-wrapper-timeline .swpg-custom .swpg-switch.active .switch-title:after {
        top: 140% !important;
        right: calc(100% - 57px) !important;
    }
    i.fa-trophy {
        font-size: 400% !important;
    }
}

#workshop-img {
    max-width: 35vw;
    display: block;
    margin: 1em auto 0;
    width: 90%;
    border-radius: 10px;
}
@media (min-width: 992px) {
    #workshop-sidetext {
        text-align: left !important;
    }
}
/* body{
    background-color: black;
} */
