/* 
 * 1. Google Font
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap');

/* 
 * 2.0 Global Style
 */

html {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    color: #4e4e4e;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #000;
}

a:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    margin: 0 0 30px;
}

ul li {
    font-weight: 700;
    margin-bottom: 10px;
}

.fa {
    color: white;
    font-size: 1.25em;
}

.social-block {
    list-style-type: none;
    padding: 0;
}

.social-block li {
    display: inline-block;
}

.social-block li a {
    display: inline-block;
    height: 32px;
    width: 32px;
    color: #4e4e4e;
}

.social-block li .fa {
    color: black;
}

.social-block li a i {
    font-size: 1.5em;
}

.social-block li a:hover,
.social-block li a:focus {
    color: #000;
}

.valign-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.section {
    padding: 70px 0;
}

.big-section {
    padding: 70px 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.section-title {
    color: #313131;
    font-family: 'Laila', sans-serif;
    letter-spacing: 1px;
    margin: 0 0 20px;
    text-align: center;
    font-size: 42px;
}


/* 
 * 3.0 Helper Class
 */


/* 
 * 3.5 Helper Class: background
 */

.bg-image,
.bg-image-1,
.bg-image-2 {
    position: relative;
}

.bg-image::before,
.bg-image-1::before,
.bg-image-2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-image-1 {
    background: url(../images/backgrounds/bg-1.webp) no-repeat center center/cover;
}

.bg-image-1::before {
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-image-2 {
    background: url(../images/backgrounds/bg-2.webp) no-repeat center bottom/cover;
}

.bg-image-2::before {
    background-color: rgba(0, 0, 0, 0.7);
}


/* 
 * 4.0 Navigation
 */

.navbar-custom {
    border: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.navbar-custom .navbar-nav li {
    margin: 0;
    padding: 0px 15px;
}

.navbar-custom .navbar-nav>li>a {
    color: #fff;
    /* text-transform: uppercase; */
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}

.navbar-custom .navbar-nav>li>a:focus,
.navbar-custom .navbar-nav>li>a:hover {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .navbar-nav>.active>a {
    border-color: rgba(32, 31, 31, 0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggle {
    border: 0;
    border-radius: 0;
    margin-top: 2px;
}

.navbar-toggle .icon-bar {
    background-color: rgb(27, 25, 25);
}

.navbar-solid {
    background: #3dac9c !important;
    padding: 8px !important;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

@media (max-width: 767.98px) {
    .navbar-solid-header {
        /*Dont use !important or it will always have grey bg when uncollapsed*/
        background-color: #4e4e4e;
        -webkit-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
    }
}

.site-branding {
    float: left;
    margin-top: 0;
    margin-left: 10px;
}

.site-branding .logo {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.site-branding .logo:focus,
.site-branding .logo:hover {
    text-decoration: none;
}


/* 
 * 5.0 Site Header
 */

.site-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom right, #01648b, #5bd0a4);
    display: table;
}

.site-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.site-header .intro {
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
}

.site-header .intro h2 {
    margin-top: 0px;
    font-size: 25px;
    font-weight: 300;
}

.site-header .intro h1 {
    margin-top: 0px;
    font-size: 30px;
}

.site-header .intro p {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 300;
}


/* 
 * 6.1 Section: About 
 */

.about .section-title {
    margin: 0 0 25px;
}

.about figure {
    margin-bottom: 25px;
}

@media (min-width: 1000px) {
    #svgcover {
        width: 45%;
        max-width: 590px;
    }
}


/* 
 * 6.2 Section: Facts
 */

.facts i {
    color: white;
}

.facts h3 {
    color: #fff;
    text-align: center;
    font-weight: 400;
}


/* 
 * 6.3 Section: Speaker
 */

.speaker {
    text-align: center;
    color: #313131;
    margin: 20px 0;
}

.speaker h4 {
    margin-top: 15px;
}

.speaker p {
    margin-bottom: 5px;
}


/* 
 * 6.6 Section: events
 */

.bg-overlay {
    background: linear-gradient(rgba(256, 256, 256, .7), rgba(256, 256, 256, .6)), url("../images/19333445.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: auto;
    padding-top: 50px;
}

.dashboard-cards {
    position: relative;
    padding-bottom: 50px;
    margin: 0 !important;
    color: black;
    border-radius: 20%;
}

.dashboard-cards .card {
    background: #ffffff;
    display: inline-block;
    -webkit-perspective: 1000;
    perspective: 1000;
    z-index: 20;
    padding: 0 !important;
    margin: 5px 5px 10px 5px;
    position: relative;
    -webkit-transition: all 0.3s 0s ease-in;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
    /* width: calc(33.33333333% - 10px); */
    max-width: 90%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dashboard-cards .card:hover {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    transition: all 0.3s ease;
}

.dashboard-cards .card .card-title {
    background: #ffffff;
    padding: 20px 15px;
    position: relative;
    z-index: 0;
}

.dashboard-cards .card .card-title h2 {
    font-size: 30px;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
}

.dashboard-cards .card .card-title h2 small {
    display: block;
    font-size: 24px;
    margin-top: 8px;
    letter-spacing: -0.025em;
}

.dashboard-cards .card .card-description {
    position: relative;
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 10px 15px 0 15px;
}

.dashboard-cards .card .card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px;
    text-align: center;
}

.dashboard-cards .card .card-flap {
    background: #d9d9d9;
    position: absolute;
    width: 100%;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.dashboard-cards .card .flap1 {
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
}

.dashboard-cards .card .flap2 {
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
    z-index: -2;
}

.dashboard-cards.showing .card {
    cursor: pointer;
    opacity: 0.6;
    -webkit-transform: scale(0.88);
    transform: scale(0.88);
}

.dashboard-cards .no-touch .dashboard-cards.showing .card:hover {
    opacity: 0.94;
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}

.dashboard-cards .card.d-card-show {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}

.dashboard-cards .card.d-card-show .card-flap {
    background: #ffffff;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.dashboard-cards .card.d-card-show .flap1 {
    -webkit-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}

.dashboard-cards .card.d-card-show .flap2 {
    -webkit-transition: all 0.3s 0.2s ease-out;
    transition: all 0.3s 0.2s ease-out;
}

.dashboard-cards .card-actions .btn {
    color: #fff;
    font-size: 14px;
}

.dashboard-cards .card-actions .btn:hover {
    background-color: #5bd0a4 !important;
    /* background-color: rgb(1, 100, 139); */
}

#prizes {
    font-weight: bold;
    font-size: 18px;
}

#mainevents {
    max-width: 100vw !important;
}


/* 
 * 6.7 Section: Schedule
 */

.partner {
    background-color: #f8f8f8;
}

.partner .partner-box {
    display: block;
    opacity: 0.8;
    height: 150px;
    width: 150px;
    margin: 25px auto;
}

.partner .partner-box-1 {
    background: url(../images/partner/partner-1.webp) no-repeat center center/contain;
}

.partner .partner-box-2 {
    background: url(../images/partner/partner-2.webp) no-repeat center center/contain;
}

.partner .partner-box-3 {
    background: url(../images/partner/partner-3.webp) no-repeat center center/contain;
}

.partner .partner-box-4 {
    background: url(../images/partner/partner-4.webp) no-repeat center center/contain;
}

.partner .partner-box-5 {
    background: url(../images/partner/partner-5.webp) no-repeat center center/contain;
}

.partner .partner-box-6 {
    background: url(../images/partner/partner-6.webp) no-repeat center center/contain;
}

.partner .partner-box-7 {
    background: url(../images/partner/partner-7.webp) no-repeat center center/contain;
}

.partner .partner-box-8 {
    background: url(../images/partner/partner-8.webp) no-repeat center center/contain;
}


/* 
 * 6.8 Section: FAQ
 */

.accordion .card {
    margin-bottom: 30px;
    border: 0;
}

.accordion .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}

.accordion .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    background: #ffe472;
    color: #222;
    padding: 20px;
}

.accordion .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-weight: 900;
    float: right;
}

.accordion .card .card-header .btn-header-link.collapsed {
    background: #a541bb;
    color: #fff;
}

.accordion .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
}

.accordion .card .collapsing {
    background: #ffe472;
    line-height: 30px;
}

.accordion .card .collapse {
    border: 0;
}

.accordion .card .collapse.show {
    background: #ffe472;
    line-height: 30px;
    color: #222;
}


/* 
    Carousel
 */

#carousel {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#carousel .owl-item {
    background: #0c83e7;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#carousel .owl-dot.active {
    background-color: #49b5e7 !important;
}

#carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #1de9b6 !important;
}

.caption {
    text-align: center;
    display: block;
    background: #FFFFFF;
    /* background-width: fit-content; */
    color: black;
}

#carousel .owl-dots {
    text-align: center;
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.owl-next {
    position: absolute;
    /* height: 100px; */
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}

.owl-next i {
    font-size: 2.5rem;
    color: #cecece;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}


/* 
 * 7.0 Site-footer
 */

.site-footer {
    background: #3dac9c;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.site-footer .site-info {
    font-weight: 400;
    margin-bottom: 10px;
}

.site-footer .site-info a {
    color: #fff;
}

.site-footer .contact a {
    color: #fff;
    font-weight: bold;
}

.site-footer .social-block li a {
    color: #fff;
}

.site-footer .social-block .fa {
    color: white;
}

.site-footer .social-block li a:hover,
.site-footer .social-block li a:focus {
    opacity: 0.8;
}

.footer-logo {
    margin-bottom: 40px;
    display: block;
}

.footer-logo img {
    width: 31.5rem;
    margin: 0 auto;
}


/*
 * Go-to-top button
 */

#go-to-top {
    background-color: #198580;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    display: inline-block;
}

#go-to-top .fa-caret-up {
    text-align: center;
    vertical-align: bottom;
    font-size: 2em;
    transform: translateY(-15%) translateX(-10%);
}

#go-to-top:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #00C6BE;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #334B49;
    transform: translateY(-5px);
}

#go-to-top:active {
    background-color: #555;
}

#go-to-top.show {
    opacity: 1;
    visibility: visible;
}