:root {
    --astrax-orange: #f27a0e;
    --astrax-dark: #0b2232;
    --astrax-dark2: #101018;
}

/* Navbar on mobile screens (collapsed menu) */
#mainNav {
    min-height: 1rem;
    background-color: var(--astrax-dark);
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.5rem;
    color: #fffb;
    border: 1px solid #fffb;
}
#mainNav .navbar-toggler:focus {
    outline: none;
}
#mainNav .navbar-brand {
    color: #fffb;
    font-weight: 700;
    padding: 0.25rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
    color: var(--astrax-orange);
    outline: none;
    background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

/* Navbar on desktop screens */
@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: 0.5rem 0;
        color: #fffb;
    }
    #mainNav .nav-link {
        transition: none;
        padding: 1rem 1.5rem;
        color: #fffb !important;
    }
    #mainNav .nav-link:hover,
    #mainNav .nav-link:active,
    #mainNav.navbar-shrink .nav-link:hover,
    #mainNav.navbar-shrink .nav-link:active {
        color: var(--astrax-orange);
    }
    #mainNav.navbar-shrink {
        background-color: var(--astrax-dark);
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #fffb;
    }
    #mainNav.navbar-shrink .nav-link {
        color: #fffb;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: var(--astrax-orange);
        outline: none;
        border-bottom: 0.25rem solid var(--astrax-orange);
    }
}

/* Changing color of navbar on scrolling */
.nav-scrolled {
    /* Color can be modified as per theme */
    background-color: var(--astrax-dark) !important;
    transition: background-color 200ms ease-in;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, #0004 0%, #0008 80%, #000a 100%),
        url("../images/backgrounds/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* Responsive title size on small/mobile screen */
.masthead h1,
.masthead .h1 {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 3rem;
    line-height: 2.5rem;
    letter-spacing: 1rem;
    color: #fffd;
}
.masthead h2,
.masthead .h2 {
    max-width: 20rem;
    padding-top: 1rem;
    font-size: 1.25rem;
    color: #fffb !important;
}
/* Responsive title size on medium screen */
@media (min-width: 768px) {
    .masthead h1,
    .masthead .h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}
/* Responsive title size on large/desktop screen */
@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1,
    .masthead .h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2,
    .masthead .h2 {
        max-width: 30rem;
        font-size: 2rem;
    }
}

h2,
h3,
h4,
.h2,
.h3,
.h4 {
    letter-spacing: 0.2rem;
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-orange {
    background-color: var(--astrax-orange);
    border-color: var(--astrax-orange);
    color: #000;
}
.btn-orange:hover {
    background-color: orange;
    border-color: orange;
}

section.page-section {
    padding-top: 4rem;
}
section.page-section p {
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

#about {
    background: var(--astrax-dark2);
}
#about h2 {
    color: var(--astrax-orange);
}
#about p {
    color: #fffb;
}

#participants h2,
#events h2 {
    color: var(--astrax-dark);
}

.event-card {
    background-color: var(--astrax-dark);
    overflow: hidden;
    transition: max-height 0.5s, background-color 0.5s;
    max-height: 18rem;
}
.event-card p {
    margin-bottom: 0 !important;
}
.event-card:hover {
    background-color: var(--astrax-dark2);
    max-height: 35rem;
}
.event-card object {
    /* codepen.io/sosuke/pen/Pjoqqp */ /* Changes black into --astrax-orange */
    filter: invert(54%) sepia(65%) saturate(3708%) hue-rotate(1deg)
        brightness(104%) contrast(90%);
    height: 40%;
}
@media (min-width: 768px) {
    .event-card {
        max-height: 12rem;
    }
    .event-card:hover {
        max-height: 22rem;
    }
    .event-card object {
        height: 60%;
    }
    .event-card .svg-holder {
        min-height: 400px;
    }
}
.signup-section {
    padding: 10rem 0;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.5) 75%,
            #000 100%
        ),
        url("../assets/img/bg-signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.signup-section .form-signup input {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.contact-section {
    padding-top: 5rem;
}

.contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid var(--astrax-orange);
}

.contact-section .card h4,
.contact-section .card .h4 {
    font-size: 0.8rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.contact-section .card hr {
    border-color: var(--astrax-orange);
    border-width: 0.25rem;
    width: 3rem;
}

.contact-section .social {
    margin-top: 5rem;
}

.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
    color: #fff;
}

.footer {
    padding-top: 3.5rem;
    margin-bottom: 0px;
}

footer {
    /* background-color: rgb(3, 8, 53); */
    background-color: rgb(4, 16, 56);
}
footer a,
footer p {
    color: rgb(218, 214, 255);
    text-decoration: none;
}
footer a:hover {
    color: rgb(130, 129, 243);
}
footer .contact,
footer .links-wrap,
footer .social {
    border-bottom: 1px dotted white;
    flex-grow: 1;
}
footer .contact {
    width: 485px;
}
footer .links-wrap {
    width: 485px;
}
footer .social {
    width: 120px;
}
footer i {
    margin-right: 10px;
}
footer h1 {
    padding: 1.5rem 0;
}
footer .links1,
footer .links2 {
    width: 120px;
}

/* Styling Scroll to Top button Element */

#scroll-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border: 4px solid var(--astrax-dark);
    box-shadow: 0px 5px 10px 3px var(--astrax-dark);
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    color: var(--astrax-dark);
    display: none;
}
#scroll-top:hover {
    background-color: var(--astrax-orange);
    border: 4px solid var(--astrax-orange);
    box-shadow: 0px 5px 10px 3px var(--astrax-orange);
    color: white;
}
#scroll-top:active {
    transform: translateY(3px);
    color: white;
    background-color: var(--astrax-dark);
    border-color: var(--astrax-dark);
    box-shadow: 0px 3px 10px 3px var(--astrax-dark);
}

/* Styling Team Page */

.teamhead {
    background-image: linear-gradient(
            to bottom,
            #0004 0%,
            #0008 80%,
            #000a 100%
        ),
        url("../images/backgrounds/teamBg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 13rem;
    background-size: cover;
    background-attachment: scroll;
}

/* Responsive title size on small/mobile screen */
.meet-team {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    color: #fffd;
    padding-top: 7rem;
    padding-left: 2rem;
}
/* Responsive title size on medium screen */
@media (min-width: 768px) {
    .meet-team {
        font-size: 3rem;
    }
}
/* Responsive title size on large/desktop screen */
@media (min-width: 992px) {
    .meet-team {
        font-size: 3rem;
    }
}

/* Designing of team section */
.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.person-detail {
    border-radius: 5%;
    margin: 1.5rem;
    transition: 0.3s;
}
.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem;
}
.person-role {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--astrax-dark);
}
.person-name {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: var(--astrax-orange);
}
.person-img {
    border-radius: 50%;
}

.person-detail:hover {
    box-shadow: 8px 8px 7px 3px var(--astrax-dark);
    transform: translate(-5px, -5px);
    transition: 0.3s;
}
