:root {
    --astrax-orange: #f27a0e;
    --astrax-dark: #0b2232;
    --astrax-dark2: #101018;
}

/* Navbar on mobile screens (collapsed menu) */
#mainNav {
    min-height: 1rem;
    background-color: var(--astrax-dark);
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.5rem;
    color: #fffb;
    border: 1px solid #fffb;
}
#mainNav .navbar-toggler:focus {
    outline: none;
}
#mainNav .navbar-brand {
    color: #fffb;
    font-weight: 700;
    padding: 0.25rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
    color: var(--astrax-orange);
    outline: none;
    background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

/* Navbar on desktop screens */
@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: 0.5rem 0;
        color: #fffb;
    }
    #mainNav .nav-link {
        transition: none;
        padding: 1rem 1.5rem;
        color: #fffb !important;
    }
    #mainNav .nav-link:hover,
    #mainNav .nav-link:active,
    #mainNav.navbar-shrink .nav-link:hover,
    #mainNav.navbar-shrink .nav-link:active {
        color: var(--astrax-orange);
    }
    #mainNav.navbar-shrink {
        background-color: var(--astrax-dark);
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #fffb;
    }
    #mainNav.navbar-shrink .nav-link {
        color: #fffb;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: var(--astrax-orange);
        outline: none;
        border-bottom: 0.25rem solid var(--astrax-orange);
    }
}

/* Changing color of navbar on scrolling */
.nav-scrolled {
    /* Color can be modified as per theme */
    background-color: var(--astrax-dark) !important;
    transition: background-color 200ms ease-in;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, #0004 0%, #0008 80%, #000a 100%),
        url("../images/backgrounds/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* Responsive title size on small/mobile screen */
.masthead h1,
.masthead .h1 {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 1rem;
    color: #fffd;
}
.masthead h2,
.masthead .h2 {
    max-width: 20rem;
    padding-top: 1rem;
    font-size: 1.25rem;
    color: #fffb !important;
}
/* Responsive title size on medium screen */
@media (min-width: 768px) {
    .masthead h1,
    .masthead .h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}
/* Responsive title size on large/desktop screen */
@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1,
    .masthead .h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2,
    .masthead .h2 {
        max-width: 30rem;
        font-size: 2rem;
    }
}

h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    letter-spacing: 0.2rem;
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-orange {
    
    background-color: var(--astrax-orange);
    border-color: var(--astrax-orange);
    color: #000;
    padding-left:50px;
    padding-right:50px;
    /* width:150px;
    height: 40px; */
    
}
.btn-orange:hover {
    background-color: var(--astrax-dark2);
    border-color: var(--astrax-dark2);
    color:#fff;
    transition: 0.5s;
}

section.page-section {
    padding-top: 4rem;
}
section.page-section p {
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

#about {
    background: var(--astrax-dark2);
}
#about h2 {
    color: var(--astrax-orange);
}
#about p {
    color: #fffb;
}

.page-section h2 {
    color: var(--astrax-dark);
}

.event-card {
    background-color: var(--astrax-dark);
    overflow: hidden;
    transition: max-height 0.5s, background-color 0.5s;
    max-height: 18rem;
}
.event-card p {
    margin-bottom: 0 !important;
}
.event-card:hover {
    /* background-color: var(--astrax-dark2); */
    max-height: 40rem;
}
.event-card object {
    /* codepen.io/sosuke/pen/Pjoqqp */ /* Changes black into --astrax-orange */
    filter: invert(54%) sepia(65%) saturate(3708%) hue-rotate(1deg)
        brightness(104%) contrast(90%);
    height: 40%;
}
@media (min-width: 768px) {
    .event-card {
        max-height: 12rem;
    }
    .event-card:hover {
        max-height: 22rem;
    }
    .event-card object {
        height: 60%;
    }
    .event-card .svg-holder {
        min-height: 400px;
    }
}

.footer {
    padding-top: 3.5rem;
    margin-bottom: 0px;
}

footer {
    /* background-color: rgb(3, 8, 53); */
    background-color: var(--astrax-dark);
}
footer a,
footer p {
    color: rgb(218, 214, 255);
    text-decoration: none;
}
footer a:hover {
    color: rgb(130, 129, 243);
}
footer .contact,
footer .links-wrap,
footer .social {
    border-bottom: 1px dotted white;
    margin-bottom: 1em;
    flex-grow: 1;
}
footer .contact {
    width: 485px;
}
footer .links-wrap {
    width: 485px;
}
footer .social {
    width: 120px;
}
footer i {
    margin-right: 10px;
}
footer h1 {
    padding: 1.5rem 0;
}
footer .links1,
footer .links2 {
    width: 120px;
}
footer h3 {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-bottom: 1rem;
    color: white; /* var(--astrax-orange); */
}

/* #footer-transition-gradient {
    height: 20px;
    background-color: var(--astrax-dark2);
    background: linear-gradient(0deg, rgba(11,34,50,1) 0%, rgba(255,255,255,0) 100%);
} */

/* Styling Scroll to Top button Element */

#scroll-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border: 6px solid var(--astrax-dark);
    /* box-shadow: 0px 5px 10px 3px var(--astrax-dark); */
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    color: var(--astrax-dark);
    display: none;
    transition: 0.5s;
}
#scroll-top:hover {
    background-color: #fff;
    /* background-color: var(--astrax-orange); */
    border: 6px solid var(--astrax-orange);
    box-shadow: 0px 3px 10px 3px var(--astrax-orange);
    color:  var(--astrax-orange);
    bottom:20px;
    /* color: white; */
}
#scroll-top:active {
    transform: translateY(3px);
    color: white;
    background-color: var(--astrax-dark);
    border-color: var(--astrax-dark);
    box-shadow: 0px 3px 10px 3px var(--astrax-dark);
    
}

/* Styling Team Page */

.teamhead {
    background-image: linear-gradient(
            to bottom,
            #0004 0%,
            #0008 80%,
            #000a 100%
        ),
        url("../images/backgrounds/teamBg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 13rem;
    background-size: cover;
    background-attachment: scroll;
}

/* Responsive title size on small/mobile screen */
.meet-team {
    font-family: "Righteous", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    color: #fffd;
    padding-top: 7rem;
    padding-left: 2rem;
}
/* Responsive title size on medium screen */
@media (min-width: 768px) {
    .meet-team {
        font-size: 3rem;
    }
}
/* Responsive title size on large/desktop screen */
@media (min-width: 992px) {
    .meet-team {
        font-size: 3rem;
    }
}

/* Designing of team section */
.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-left:100px;
    margin-right:100px;
}
.person-detail {
    border-radius: 5%;
    margin: 1.5rem;
    transition: 0.5s;
    /* transition: 0.3s; */
}
.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    padding: 0.1rem;
}
.person-role {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--astrax-dark);
}
.person-name {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: var(--astrax-orange);
}
.person-img {
    border-radius: 50%;
    padding:20px;
}

.person-detail:hover {
    box-shadow: 8px 8px 7px 3px #946e06;
    /* box-shadow: 8px 8px 7px 3px var(--astrax-dark); */
    transform: translate(-5px, -5px);
    transition: 0.3s;
}



/* school_champition */
#school{
    background-color: #0b2232;
    color:white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
#school i{
    color:#f27a0e ;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    background-color: #101018;
    margin-top: -5px;
}

.time{
    font-size: 30px;
    
}

.countdown{
    display: flex;
    flex-wrap: wrap;
}

.countdown div{
    margin: 2rem 2rem;
    text-align: center;
    border: 2px solid #fff;
    padding: 5px 20px;
    padding-bottom: 10px!important;
    color: #fff;
    min-width: 100px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 2px 20px #fff;
    box-sizing: border-box;
    
}
.days{
    font-size: 50px;
}

@media (max-width:992px){
    .countdown div{
        margin: 1rem 1rem;
        min-height: 80px;
    }
}
/* @media (max-width:767px){
    .countdown div{
        max-width: 30px;
        font-size: 80%;
    } 
} */
@media(max-width:700px){
    .countdown {
        border: 2px solid #fff;
        border-radius: 15px;
        box-shadow: 0px 2px 20px #fff;
    }
    .countdown div{
        margin: 10px auto;
        min-width: 80px;
        min-height: 50px;
        font-size: 75%;
        border: none;
        box-shadow: none;
    }
}
.coming{
    padding-bottom: 20px;
    color:#f27a0e;
    text-align: center;
}

.event-details {
	display: none !important;
	height: 0;
	transition: height 5s;
}

.event-card:hover .event-details {
    display: inline !important;
    height: 20px;
}

.event-card > div.col-md-9 {
    min-height: auto;
    transition: min-height 5s;
}

.event-card:hover > div.col-md-9 {
    min-height: 25rem;
}

