{% load static%}
<div class="about">
<section class="page-section container px-4 px-lg-5 text-center" id="about">
    <p class="newheading">ABOUT US</p>
    <p class="about-content">AstraX is the annual astro-meet of IIT Mandi, the biggest astronomical meet in India. Bringing together Astronomy experts and curious amateurs and everyone in between. Combining space science and technology, AstraX is the hub of astronomy enthusiasts, hosting a plethora, competitive and nail-biting events and proficient talks with prominent speakers in their fields. It is the center of attraction for students and professors with an inclination towards computational and theoretical astronomy. AstraX brings to you a cosmic sea of worth of knowledge and astronomical fun, all wrapped up in a four day long meet. 
    </p>
    <div class="btnclass"><a href="https://drive.google.com/file/d/10vob4MfpIHn0K1iMUfnuYJOJujcqTelZ/view?usp=sharing" traget="__blank"><button class="mainbutton">View Brochure</button></div></a>
</section>
</div>
<div class="containerworkshop">

    <section class="workshop" id="workshop">
       <div class="row">
        <div class="col" id="upleft">
            <p class="headingleft">EVENTS</p>
            <p class="containworkshop">Join us for a journey through the stars, from capturing the beauty of the night sky through astrophotography to hunting down Messier objects and solving astronomical challenges at the hackathon. Enhance your knowledge with research paper presentations and immerse yourself in hands-on activities that are out of this world. Let's blast off into the universe and make memories that will last a lifetime!</p>
            <a href="/event"><button class="mainbutton">
                Know more
            </button></a>
        </div>
        <div class="col right" id="right">
           
        </div>
       </div>
       <div class="row" id="downrow">
           
           <div class="col left" id="left">
            </div>
            <div class="col" id="downright">
                <p class="headingleft">SPEAKERS</p>
            <p class="containworkshopright">
                Astrax Boasts a plethora of eminent speakers from the field of Astronomy. From theoretical physicists to leading figures in astronomy and space science, all have been a part of this amazing fest. Stay tuned for this year's esteemed guests.
            </p>
            <button class="mainbutton">
                Coming Soon
            </button>
            </div>
       </div>
    </section>
</div>


<!-- <div class="container-md my-2"><hr/></div> -->



