  <!-- Footer-->
   <div id="footer-transition-gradient"></div>
   <footer class="h6 text-center text-white" style="margin-bottom: 0;">
       <!-- <img class="img-fluid d-block mx-auto" height="200" src="assets/images/logo-white.png" alt="AstraX logo"/> -->
       <div class="footer container">
           <div class="footer-top d-flex justify-content-around flex-wrap">
               <div class="contact">
                   <h3>Contact</h3>
                   <div class="footer-list">
                       <p class="address">
                           <a href="https://www.google.com/maps/search/+SAC-001,+North+Campus,+IIT+Mandi,+Kamand,+Himachal+Pradesh+%E2%80%93+175005,+India/@31.7770583,76.9857117,16z/data=!3m1!4b1"><i class="fa-solid fa-location-dot"></i> SAC-001, North Campus, IIT Mandi, Kamand, Himachal Pradesh – 175005, India</a>
                       </p>
                       <p class="phone">
                           <a href="tel:+91-89202-38050"><i class="fa-solid fa-phone"></i> Phone (Convenor): +91-89202-38050</a>
                       </p>
                       <p class="phone">
                           <a href="tel:+91-99495-01007"><i class="fa-solid fa-phone"></i> Phone (Convenor): +91-99495-01007</a>
                       </p>
                       <p class="email">
                           <a href="mailto:team@astrax.in"><i class="fa-solid fa-envelope"></i> Email: team@astrax.in</a>
                       </p>
                   </div>
               </div>
               <div class="links-wrap">
                   <h3>Quick Links</h3>
                   <div class="links d-flex flex-row justify-content-around flex-wrap">
                       <div class="links-1 footer-list">
                           <p><a href="/">Home</a></p>
                           <p><a href="/team.html">Team</a></p>
                           <p><a href="https://stac.iitmandi.co.in" target="_blank">STAC</a></p>
                           <p><a href="https://iitmandi.ac.in" target="_blank">IIT Mandi</a></p>
                       </div>
                       <div class="links-2 footer-list">
                           <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfm0wstsI7fqFEO8vxZW8dOqSsSRQezwY1U4v7ZlrsObwCxfw/viewform" target="_blank">Register Now</a></p>
                           <p><a href="coc.pdf" target="_blank">Code of Conduct</a></p>
                           <p><a href="/archive/astrax19/" target="_blank">AstraX '19</a></p>
                           <p><a href="/archive/astrax20/" target="_blank">AstraX '20</a></p>
                           <p><a href="/archive/astrax21/" target="_blank">AstraX '21</a></p>
                       </div>
                   </div>
               </div>
               <div class="social">
                   <h3>Social</h3>
                   <div class="footer-list text-left">
                       <p><a href="https://discord.com/invite/nNeaEnVD6p" target="_blank"><i class="fa-brands fa-discord"></i> Discord</a></p>
                       <p><a href="https://www.instagram.com/astrax.in/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                       <p><a href="https://www.facebook.com/stacIITMandi/" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a></p>
                       <p><a href="https://www.youtube.com/channel/UCnmH6Nadt91VEkoeN_lK-rA" target="_blank"><i class="fab fa-youtube"></i> YouTube</a></p>
                       <p><a href="https://twitter.com/stac_iitmandi" target="_blank"><i class="fa-brands fa-twitter"></i> Twitter</a></p>
                       <p><a href="https://github.com/STAC-IITMandi" target="_blank"><i class="fa-brands fa-github"></i> Github</a></p>
                   </div>
               </div>
           </div>
           <div class="footer-bottom py-4">
               <!-- <p class="text-muted small">Cover image by NASA from Unsplash</p> -->
               <p>&copy; Web Development Team | Astrax 2023</p>
           </div>
       </div>
   </footer>
