<section id="front">
    <div class="row" id="bigscreen">
      <div class="col-6">
        <div class="heading-container">
          <h1 class="main-heading">ASTRAX</h1>
          <span class="heading2-line" ><h2 class="main-heading2">3 Mar - 6 Mar</h2><hr class="line"/></span>
          <p class="main-heading3">The intercollege Astro-meet of North India</p>
        </div>
      </div>
      <div class="col-6" id="sat">
          <img class="sat-img" id="satimg" src="../static/images/siteimg/sat.png">
      </div>
    </div>
    <div id="smallscreen">
        <div id="sat">
            <img class="sat-img" id="satimg" src="../static/images/siteimg/sat.png">
        </div>
      <div id="smallcontainer">
        <div class="heading-container">
          <h1 class="main-heading">ASTRAX</h1>
          <span class="heading2-line" ><h2 class="main-heading2">3 Mar - 6 Mar</h2><hr class="line"/></span>
          <p class="main-heading3">The intercollege Astro-meet of North India</p>
        </div>
      </div>
    </div>
  </section>
  