 {% load static %}

<!-- Keynote speakers -->
{% comment %} 
{% block content %} {% endcomment %}
{% block speakers %}
<section class="page-section container px-4 px-lg-5 text-center" id="keynotes">
    <h2 class="mt-2 mb-4">Keynote Speakers</h2>
    <div class="keynote-container">
        {%for speaker in speakers_details%}
        <div class="keynote">
            <div class="key-detail">
                
                <img src={{speaker.image.url}} alt={{speaker.name}}>
               
                <div class="name">{{speaker.name}}</div>
            </div>
            <div class="info">
                {{speaker.bio}}
            </div>
        </div>
        {%endfor%}
        
    </div>
</section>
<div class="container-md my-2"><hr/></div>
{% endblock speakers %}
{% comment %}
<div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nam provident aperiam perferendis ipsum explicabo! Illum sed sapiente consequuntur qui id esse, quos cupiditate corrupti ipsam. Ipsa corrupti et cum vitae fuga. Ullam necessitatibus minus 
</div>
<section class="page-section container px-4 px-lg-5 text-center" id="sponsors">
    <div class="container px-4 px-lg-5">
        <h2 id="spon" class="mb-4" >Our Past Sponsors</h2>
        <div class="container-md my-2"><hr/></div>
        <div class="row sponrow">
            <a href={{sponsor.website}} target="_blank" nofollow noreferrer>
                <object data="{{sponsor.image.url}}" width="220px"  type=""></object>
            </a>
            <h5>{{sponsor.name}}</h5>
            <h5>{{sponsor.type}}</h5>
        </div>
        <div class="row">
        {%for sponsor in sponsors%}  
  
        <div class="col-md-6">
            <div class="row sponrow">
                <a href={{sponsor.website}} target="_blank" nofollow noreferrer>
                    <object data="{{sponsor.image.url}}" width="220px"  type=""></object>
                </a>
                <h5>{{sponsor.name}}</h5>
                <h5>{{sponsor.type}}</h5>
            </div>
    </div>

      {% endfor%}

        </div>
    </div>
</section>

 {% endblock content%}     {% endcomment %}

